#popular_activity > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.card_activity{
    flex-shrink: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items:start;
    justify-content: space-between;
    border: 2px solid white;
    padding: 10px 5px;
    border-radius: 10px;
}
.card_activity:last-child{
    max-width: 400px ;
}
.card_activity h3 , .card_activity p{
    color: var(--neutral-darker);
}

.activity_box{
    margin: 20px 0;
    border: 2px solid white;
    border-radius: 10px;
    overflow: hidden;
}
.activity_box .img_box{
    margin: 0 0 10px;
    overflow: hidden;
}
.activity_box .img_box img{
    width: calc(100vw - 5%);
}
.activity_box .detai_box{
padding: 10px ;
display: flex;
flex-direction: column;
gap: 5px;
color: var(--neutral-darker);
}
/* special event section */
#specia_event{
    background-image: url("../assets/images/events/special_events_background.png");
    background-size:cover;
    background-attachment: fixed;
    position: relative;
}
#specia_event::before{
    border-radius: 0;
}
#special_detail_box img{
    width: 200px;
}

#special_detail_box .special_detail{
    padding: 0 20px;
    line-height: 25px;
    color: white;
    background-color: var(--backdrop-merror);
    backdrop-filter: blur(2px);
}
#special_detail_box .special_detail ul{
    padding: 10px 20px ;
}
#special_detail_box .special_detail ul li:nth-child(1){
    list-style: "🎂";
}
#special_detail_box .special_detail ul li:nth-child(2){
    list-style: "🎷";
}
#special_detail_box .special_detail ul li:nth-child(3){
    list-style: "🎁";
}
#special_detail_box .special_detail ul li:nth-child(4){
    list-style: "🥂";
}
.own_event h3{
text-align: center;
background-color: var(--accent);
color: var(--neutral-dark);
width: max-content;
padding: 10px 20px;
margin:20px auto;
border-radius: 50px;
}
.own_event > p{
    font-size: 20px;
    max-width: 400px;
    text-align: center;
    margin: 20px auto;
    color: white;
    line-height: 35px;
    background-color: var(--backdrop-merror);
    backdrop-filter: blur(2px);
}
.own_event > label{
    margin:10px auto;
}
label[for="show_form"] input{
    display: none;
}
label[for="show_form"]::before{
    content: "Open the booking form";
}
label[for="show_form"]:has(input:checked)::before{
    content: "";
}
label[for="show_form"]:has(input:checked)::after{
    content: "Close the booking form";
}


.form_box{
    position: relative;
    height: 0px;
    transition: .4s;
    overflow: hidden;

}

.form_box form{
    display: grid;
    gap: 20px;
}
label[for="show_form"]:has(input:checked)+ .form_box {
    height: 850px;
}
.form_box > div{
    transition: .4s;
}
label[for="show_form"]:has(input:checked)+ .form_box > div{
    bottom: 0% !important;
    background-color: var(--backdrop-merror);
    backdrop-filter: blur(5px);
    padding:20px 5px 50px;
}

label{
    display: flex;
    justify-content: start;
    font-size: 16px;
}
label span{
    padding: 10px;
    background-color: var(--accent);
    border-radius: 10px 0 0 10px;
}
label input{
    padding: 10px;
    border-radius: 0 10px 10px 0;
    border: 1px solid var(--accent);
    display: inline-block;
    outline: none;
}

.service_inp p, .event_type p{
    margin: 10px 0;
    color: white;
    font-size: 16px;
}
.service_inp label{
    background-color: var(--backdrop-merror);
    color: var(--light-accent);
    margin: 10px 0;
    padding: 10px;
    width: max-content;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    transition: .5s;
}
.service_inp label:has(input:checked){
    background-color: var(--neutral-dark);
}

.event_type select{
    padding: 5px 15px;
    border-radius: 10px;
    background-color: var(--accent);
    font-size: 18px;
    outline: none;
    border: 1px solid var(--highlight);
}


input[type="submit"]{
    margin: auto;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 50px;
    border:none;
    background-image: linear-gradient(45deg, var(--secondary)20%, var(--neutral-darkerrimary)100%);
    color: var(--accent);
    box-shadow: 2px 3px 3px 1px #333;
}



/* ############################################# */
/* ############################################# */
/* ############################################# */
/* wide Phone */
@media screen and (min-width: 480px) {

.card_activity{
    max-width: 47%;}
}
/* Tablet */
@media (min-width: 768px) { 
   
#popular_activity{
    position: absolute;
    padding: 0 !important;
    top: -30vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

#other_activity{
    padding: 250px 0 50px;
}

#popular_activity > div{
    flex-wrap: nowrap;
}

.card_activity{
    max-width: 47%;
    flex: 0 0 33%;
    background-color: var(--accent-transparent);
    border-width: 5px;
    backdrop-filter: blur(2px);
}
.card_activity:last-child{
    max-width: auto  ;
}
.card_activity h3 , .card_activity p{
    color: var(--neutral-darkerrimary);
    font-size: 18px;
}

#activity_list_container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.activity_box{
    transition: .3s;
}
.activity_box:hover{
    transform: translate(-1px, -1px);
    box-shadow:3px 3px 5px 1px var(--neutral-darker) ;
}
.activity_box .img_box img{
    width: 100%;
    transition: .3s;
}
.activity_box:hover img{
    transform: scale(1.09);
}

/* special events section */
#special_detail_box{
    overflow: hidden;
    margin: 20px auto 50px;
    width: max-content;
    border-radius: 10px;
    box-shadow: 6px 0px 50px 5px #333;
}
#special_detail_box img{
    width: auto;
    height: 300px;
    float: left;
}

#special_detail_box .special_detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    float: left;
    width: 500px;
    height: 300px;
    backdrop-filter: blur(5px);
    border-radius:0 10px 10px 0;
}

.form_box form{
    display: grid;
    gap: 20px;
    grid-template-areas: "name lastname"
                            "phone date"
                            "service eventType"
                            "service vistNumber"
                            "submit submit";
                            gap: 30px;
                            align-items: center;
                            justify-content: stretch;
}

label[for^="f_name"]{
    grid-area: name;
}
label[for^="l_name"]{
    grid-area: lastname;
}
label[for^="phone_inp"]{
    grid-area: phone;
}
label[for^="date_time"]{
    grid-area: date;
}
.service_inp{
    grid-area: service;
   overflow-x: auto;
}

label[for^="num_inp"]{
    grid-area: vistNumber;
}

.event_type{
    grid-area: eventType;
}
.service_inp > div{
 display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.service_inp p, .event_type p{
    margin: 10px 0;
    color: white;
    font-size: 20px;
}

input[type="submit"]{
    grid-area: submit;
    background-color: var(--neutral-darkerrimary);
    background-image: linear-gradient(45deg, var(--secondary)50%, var(--neutral-darkerrimary) 50%, var(--neutral-darkerrimary)100%);
    background-size: 250% 250%;
    background-position: top right;
    color: var(--accent);
    transition: .4s;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-position: bottom  left;
}



}
/* ################################# */
/* ################################# */
/* ################################# */
/* Laptop */
@media (min-width: 992px) { 
   
#popular_activity{
    top: -40vh;
    width: 70%;
}
.card_activity{
          flex: 1 0 auto;
}
.card_activity:last-child{
    max-width: 47%  ;
}
.card_activity h3 , .card_activity p{
    font-size: 20px;
    line-height: 30px;
}


#activity_list_container{
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
.activity_box{
    display: flex;
    gap: 10px;
}
 .img_box{
    flex-shrink: 0;
    margin: 0 !important;
 }
.activity_box .img_box img{
    height: 100%;
    width: 200px;;
}
}

